# Virtual environment
venv/
.env

# Node modules and build
frontend/node_modules/
frontend/dist/

# Python cache
__pycache__/
pipelines/__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
